## Deliverable 2. Create a Customer Travel Destinations Map.

In [88]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [89]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,83.32,68,45,7.74,scattered clouds
1,1,Periyanayakkanpalaiyam,IN,11.1500,76.9333,81.99,65,20,14.97,haze
2,2,Mataura,NZ,-46.1927,168.8643,44.47,91,100,6.73,light rain
3,3,San Patricio,US,28.0170,-97.5169,84.88,74,1,13.15,clear sky
4,4,Nanortalik,GL,60.1432,-45.2371,45.70,93,100,7.67,moderate rain

In [90]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [ ]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_hotel_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
clean_hotel_df.head(10)

In [57]:
# 4a. Determine if there are any empty rows.
clean_hotel_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [58]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_hotel_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,83.32,68,45,7.74,scattered clouds
1,1,Periyanayakkanpalaiyam,IN,11.1500,76.9333,81.99,65,20,14.97,haze
3,3,San Patricio,US,28.0170,-97.5169,84.88,74,1,13.15,clear sky
16,16,Santa Paula,US,34.3542,-119.0593,87.48,77,1,3.44,clear sky
17,17,Port-Gentil,GA,-0.7193,8.7815,76.59,78,100,11.70,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
685,685,Osmena,PH,10.5208,119.9258,84.79,73,71,12.97,broken clouds
686,686,Avera,US,33.1940,-82.5271,82.71,79,19,6.02,few clouds
688,688,Praia,CV,14.9215,-23.5087,75.74,73,40,2.30,scattered clouds
690,690,Ternate,ID,0.8000,127.4000,84.34,71,87,8.86,overcast clouds
694,694,Magway,MM,20.1500,94.9167,83.12,77,100,12.55,overcast clouds

In [59]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df =  clean_hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.32,scattered clouds,3.0707,172.7902,
1,Periyanayakkanpalaiyam,IN,81.99,haze,11.1500,76.9333,
3,San Patricio,US,84.88,clear sky,28.0170,-97.5169,
16,Santa Paula,US,87.48,clear sky,34.3542,-119.0593,
17,Port-Gentil,GA,76.59,overcast clouds,-0.7193,8.7815,
20,Dunyapur,PK,89.62,broken clouds,29.7995,71.7196,
21,Saskylakh,RU,81.12,clear sky,71.9167,114.0833,
28,Naze,JP,85.12,overcast clouds,28.3667,129.4833,
30,Bandarbeyla,SO,82.26,few clouds,9.4942,50.8122,
33,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,

In [60]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [82]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == ""].index)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.32,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
1,Periyanayakkanpalaiyam,IN,81.99,haze,11.1500,76.9333,Bv Machines
3,San Patricio,US,84.88,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
16,Santa Paula,US,87.48,clear sky,34.3542,-119.0593,Santa Paula Inn
17,Port-Gentil,GA,76.59,overcast clouds,-0.7193,8.7815,Fengshui Residence
20,Dunyapur,PK,89.62,broken clouds,29.7995,71.7196,فدا لاج
28,Naze,JP,85.12,overcast clouds,28.3667,129.4833,奄美ポートタワーホテル
30,Bandarbeyla,SO,82.26,few clouds,9.4942,50.8122,JABIR HOTEL
33,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Atlantis Hotel
36,Yilan,TW,89.56,overcast clouds,24.7570,121.7530,Dar Chen Hotel

In [87]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [84]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [85]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))